/* 
COLOR PALETTE
#F2F2F2
#417D7A
#1D5C63
#1A3C40
*/

/* UNIVRESAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
.flex-container{
    display: flex;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

/* HEADER & NAVS */
.head{
    position: fixed;
    background-color: #1D5C63;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 1;
    transition: 0.4s;
}

.head header{
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    padding-left: 3vw;
    margin-top: 20px;
}

nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left: 3vw;
}

nav a:hover{
    color: #a87aff;
    transition: 0.2s;
}

.navs{
    margin-top: 30px;
    display: flex;
    padding-right: 3vw;
}

/* Dropdown Navbar */
.dropdown-content{
    display: none;
    position: absolute;
    width: 100px;
    list-style: none;
    background-color: white;
    border-radius: 2px;
    padding: 0;
    margin-left: 50px;
}

.dropdown-content li{
    padding: 10px 0;
    text-align: center;
}

.dropdown-content li a{
    color: black;
    padding: 0;
}

.dropdown-content li a:hover{
    color: #405cf5;
}

/* Footer */
footer{
    background-color: #1A3C40;
    color: white;
}

footer ul{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer p{
    margin-top: 27px;
    margin-right: 40px;
}

footer a:hover{
    color: #a87aff;
    transition: 0.2s;
}