/* 
COLOR PALETTE
#7D5A50 - Dark Brown
#B4846C - Lighter Brown
#E5B299 - Lighter Brown
#FCDEC0 - Lighter Brown 
*/

/* UNIVRESAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.flex-container{
    display: flex;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

/* HEADER & NAVS */
.head{
    position: fixed;
    background: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    transition: 0.4s;
    z-index: 2;
}

.head header{
    font-size: 2.5em;
    font-weight: bold ;
    color: white;
    padding-left: 3vw;
    margin-top: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding-left: 3vw;
}

nav a:hover{
    color: blueviolet;
    transition: 0.2s;
}

.navs{
    margin-top: 40px;
    display: flex;
    padding-right: 3vw;
}

.nav-active {
    background-color: white;
    box-shadow: 5px -1px 12px -5px grey;
}

.nav-active header{
    color: #7D5A50;
}

.nav-active ul li a{
    color: #7D5A50;
}

.nav-active a:hover{
    transition: 0.2s;
    color: blueviolet;
}

/* form */
.form{
    padding-top: 20vh;
    padding-bottom: 25vh;
    z-index: 1;
    margin: auto;
    text-align: center;
}

form{
    transition: 0.3s;
    border: 1px solid #7D5A50;
    width: 1000px;
    height: 500px;
    margin: auto;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

form:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 6px #000;
}

button{
    margin-top: 10px;
    padding: 10px 50px;
    background-color: #B4846C;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover{
    transition: 0.3s;
    background-color: #7D5A50;
}

.formel{
    margin-top: 40px;
}

input[type="text"], input[type="email"]{
    width: 300px;
    height: 3vh;
}

textarea{
    width: 300px;
}

/* Footer */
footer{
    background-color: #B4846C;
    color: white;
}

footer ul{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer p{
    margin-top: 27px;
    margin-right: 40px;
}

footer a:hover{
    color: blueviolet;
    transition: 0.2s;
}