/* Title Section */
.title{
    text-align: center;
    margin: 0;
    padding-top: 120px;
}

/* Description Section */
.company-description{
    height: 100vh;
}

.container{
    display: flex;
    justify-content: left;
    align-items: center;
}

.company-description .txt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    width: 60vw;
    height: 350px;
    font-size: 1.2em;
    color: white;
    background-color: #417D7A;
}

.company-description img{
    width: 400px;
}

/* vision mission */
.vision-mission{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    height: 400px;
    width: 70vw;
    margin: auto;
    margin-bottom: 150px;
    padding: 20px;
    background-color: #417D7A;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}