.row{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 30vw;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    align-items: center;
}

.card button{
    background-color: #405cf5;
    border-width: 0;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    position: relative;
    cursor: pointer;
    color: white;
}

.card button:hover{
    background-color: #3247be;
    transition: 0.3s;
}