.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.heading{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    width: 30vw;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    align-items: center;
    margin: 20px;
}

.card h1{
    margin: 0;
}