/* Slideshow */
.slideshow-container{
    background: rgba(0, 0, 0, 0.8);
    max-width: 100vw;
    margin: auto;
    position: relative;
    z-index: 0;
    transition: 0.4s;
}

.slideshow-container img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.mySlides{
    display: none;
    transition: 0.4s;
}

.text{
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 55%);
    font-size: 2em;
    bottom: 55%;
    color: #ffffff;
    font-weight: 900;
    border-radius: 10px;
    padding: 20px;
}

.join-course{
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, 48%);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: 0.3}
    to {opacity: 1}
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: white;
    padding: 16px;
    font-weight: bold;
    transition: 0.4s;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.next{
    right: 0;
}

/* Description Section */
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding: 30px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.description a{
    margin: 0 50px;
}

/* Courses Section */
.courses{
    justify-content: space-evenly;
    flex-direction: column;
    height: 800px;
    display: flex;
    background-color: #417D7A;
    box-shadow: 0 2px 0 black;
}
.card{
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card-content{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    text-align: center;
}

.card img{
    width: 400px;
}
