.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

table, tr, td, th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}