h2, p{
    margin: 5px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 200px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button{
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: #405cf5;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 6px;
}